<article class="post p-2">
  <div class="container-fluid bloc-box">
    <div class="title-row">
      <h4 class="bloc-box ml-4">
          <a href="/post/{{id}}">{{title}}</a>
      </h4>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{post_url}}" alt="">

        </div>
        <div class="col-8">
            {{post_content}}

        </div>
    </div>
    <div class="meta row pl-3">
      by {{user.username}} on {{format_date createdAt}}

    </div>
    <div class="row pl-3">
        <p href="/post/{{id}}" class="blox-box">{{comments.length}} Comments</p>
    </div>
  </div>
</article>